USE [Salestec]
GO
/****** Object:  UserDefinedFunction [dbo].[CALC_COMMISSION]    Script Date: 3/5/2026 12:57:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALC_COMMISSION] (@PRODUCTNO INT, @SALES_PRICE DECIMAL(18,2), @QTY FLOAT)
RETURNS DECIMAL(18,2)
AS
BEGIN
	DECLARE @COMMISSION1 DECIMAL(18,2)
	DECLARE @COMMISSION2 DECIMAL(18,2)
	DECLARE @COMMISSION3 DECIMAL(18,2)
	DECLARE @PRICE1 DECIMAL(18,2)
	DECLARE @PRICE2 DECIMAL(18,2)
	DECLARE @PRICE3 DECIMAL(18,2)
	DECLARE @COMMISSION_VALUE DECIMAL(18,2)
	DECLARE @TOTAL_VALUE FLOAT
	SELECT @COMMISSION_VALUE = 0;
	SELECT @COMMISSION1 = COMMISSION1, @COMMISSION2 = COMMISSION2, @COMMISSION3 = COMMISSION3 FROM CREDITDEBITSETUP; 
	SELECT @PRICE1 = PRECIO, @PRICE2 = PRECIOVENTA2, @PRICE3 = PRECIOVENTA3  FROM INVENTARIOPISO WHERE PRODUCTNO = @PRODUCTNO;
	IF (@SALES_PRICE >= @PRICE1)
	begin
		SELECT @COMMISSION_VALUE = isnull((@SALES_PRICE * @COMMISSION1)*@QTY,0);  
	end; 
	IF (@SALES_PRICE < @PRICE1) AND (@SALES_PRICE >= @PRICE2)
	begin
		SELECT @COMMISSION_VALUE = isnull((@SALES_PRICE * @COMMISSION2)*@QTY,0); 
	end;  
	IF (@SALES_PRICE < @PRICE2) AND (@SALES_PRICE >= @PRICE3)
	begin
		SELECT @COMMISSION_VALUE = isnull((@SALES_PRICE * @COMMISSION3)*@QTY,0);
	end;
	IF (@SALES_PRICE < @PRICE3)
	begin
		SELECT @COMMISSION_VALUE = isnull((@SALES_PRICE * .01)*@QTY,0);
	end;
	Return @COMMISSION_VALUE
END
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ChecksumDigit]    Script Date: 3/5/2026 12:57:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[ufn_ChecksumDigit](@UPC varchar(20))
RETURNS VARCHAR(20)

AS

BEGIN
DECLARE @I INT = 0, 
		@X INT = 0,
		@Y INT = 0, 
		@Check INT = 0,
		@Digit INT = 0,
		@Barcode VARCHAR(20) = '',
		@Checksum bit = 0,
		@UPC_MODIFIED VARCHAR(20) = ''

  		IF LEN(LTRIM(RTRIM(@UPC))) > 11
		BEGIN
           SET @Barcode = SUBSTRING(@UPC, 0, LEN(@UPC)) 
        END
        ELSE
        BEGIN
			SET @Barcode = @UPC
        END
		--SELECT @Barcode as Barcode
		
		SET @I = LEN(@Barcode)
		WHILE @I > 0
        BEGIN
			SET @Y = @Y + SUBSTRING(@Barcode, @I, 1)
			SET @I = @I - 2
		END
		--SELECT @Y as Y
		SET @I = LEN(@Barcode)-1
		WHILE @I >= 0
		BEGIN
			SET @X = @X + SUBSTRING(@Barcode, @I, 1)
			SET @I = @I - 2
		END
		--SELECT @X as X
		SET @Check = @X + (@Y * 3)
		SET @Digit = (10 - (@Check % 10)) % 10
		
		IF LEN(LTRIM(RTRIM(@UPC))) = 11
		BEGIN
            SET @Checksum = 0
			SET @UPC_MODIFIED = @UPC + LTRIM(RTRIM(CONVERT(VARCHAR, @Digit)))
        End
        ELSE IF LEN(LTRIM(RTRIM(@UPC))) < 11
		BEGIN
			SET @Checksum = 0
			SET @UPC_MODIFIED = 'INVALID_UPC'	
        End
		ELSE 
		BEGIN
			IF RIGHT(LTRIM(RTRIM(@UPC)), 1) = @Digit
			BEGIN
            SET @Checksum = 1
            END
            SET @UPC_MODIFIED = LEFT(LTRIM(RTRIM(@UPC)), 12)
        End
		-- SELECT @Checksum as CheckSum, @Y as Y, @X as X, @Check as Check1, @Digit as Digit, @UPC_MODIFIED as UPC_MODIFIED
        -- SELECT @Checksum as CheckSum, @UPC_MODIFIED as UPC_MODIFIED
        RETURN @UPC_MODIFIED 
END
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetUPCA]    Script Date: 3/5/2026 12:57:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_GetUPCA](
@UPC varchar(20)

)
RETURNS VARCHAR(20)

AS

BEGIN
	DECLARE 
		@Response  VARCHAR(20) = '',
		@UPC_   VARCHAR(20) = ''

		SET @UPC_=RTRIM(ISNULL(@UPC,''))

		IF @UPC_ != ''
		BEGIN
			IF LEN(@UPC_) < 12 SET @UPC_=dbo.ufn_ChecksumDigit(@UPC_)
			
			IF LEN(@UPC_) = 12 
			BEGIN
				SET @Response = 
					CHAR(SUBSTRING(@UPC_,1,1)+80) + 
					SUBSTRING(@UPC_,2,5) + 'p' +
					CHAR(SUBSTRING(@UPC_,7,1)+64) + 
					CHAR(SUBSTRING(@UPC_,8,1)+64) + 
					CHAR(SUBSTRING(@UPC_,9,1)+64) + 
					CHAR(SUBSTRING(@UPC_,10,1)+64) + 
					CHAR(SUBSTRING(@UPC_,11,1)+64) + 
					CHAR(SUBSTRING(@UPC_,12,1)+96) 
			END
			
		END

        RETURN @Response
END
GO
