USE [Familiar]
GO
/****** Object:  View [dbo].[AUSPICIO]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AUSPICIO](NOMBRE,CARDHOLDERID,FECHANACIMIENTO,SEXO,DIRECCION1,DIRECCION2,ULTTRANS,DEUDA,LIMITECREDITO,NUMEROCLIENTE,APELLIDOPATERNO,APELLIDOMATERNO,TELEFONO,CODIGOPOSTAL,FAX,CELULAR,EMAIL,LAWAY,ESTADO,AUSPICIO,SOCIO,IDENTIFICACION,CODE,AMOUNT,DATEOFTRANS,ATTENDEDBY,CLIENTNO,TRANSNO,PAIDAMOUNT,
BALANCE) AS SELECT PACIENTES_1.NOMBRE, PACIENTES_1.CARDHOLDERID,
PACIENTES_1.FECHANACIMIENTO, PACIENTES_1.SEXO, PACIENTES_1.DIRECCION1,
PACIENTES_1.DIRECCION2, PACIENTES_1.ULTTRANS, PACIENTES_1.DEUDA,
PACIENTES_1.LIMITECREDITO, PACIENTES_1.NUMEROCLIENTE,
PACIENTES_1.APELLIDOPATERNO, PACIENTES_1.APELLIDOMATERNO,
PACIENTES_1.TELEFONO, PACIENTES_1.CODIGOPOSTAL, PACIENTES_1.FAX,
PACIENTES_1.CELULAR, PACIENTES_1.EMAIL, PACIENTES_1.LAWAY,
PACIENTES_1.ESTADO, PACIENTES_1.AUSPICIO, PACIENTES_1.SOCIO,
PACIENTES_1.IDENTIFICACION, CLIENTTRANSACTIONS_1.CODE,
CLIENTTRANSACTIONS_1.AMOUNT, CLIENTTRANSACTIONS_1.DATEOFTRANS,
CLIENTTRANSACTIONS_1.ATTENDEDBY, CLIENTTRANSACTIONS_1.CLIENTNO,
CLIENTTRANSACTIONS_1.TRANSNO, CLIENTTRANSACTIONS_1.PAIDAMOUNT,
CLIENTTRANSACTIONS_1.BALANCE FROM PACIENTES PACIENTES_1 INNER JOIN
CLIENTTRANSACTIONS CLIENTTRANSACTIONS_1 ON
(CLIENTTRANSACTIONS_1.CLIENTNO = PACIENTES_1.NUMEROCLIENTE)
GO
/****** Object:  View [dbo].[AUSPICIOTOTAL]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AUSPICIOTOTAL](SOCIO,APELLIDOPATERNO,APELLIDOMATERNO,NOMBRE,AMOUNT,DATEOFTRANS) AS SELECT pacientes.socio, pacientes.apellidopaterno, pacientes.apellidomaterno, pacientes.nombre, SUM(amount), ClientTransactions.DATEOFTRANS FROM clienttransactions INNER JOIN pacientes ON clienttransactions.clientno = pacientes.numerocliente WHERE code = 'AU' AND pacientes.socio > '0' GROUP BY pacientes.socio, pacientes.apellidopaterno, pacientes.apellidomaterno, pacientes.nombre, CLIENTTRANSACTIONS.DATEOFTRANS
GO
/****** Object:  View [dbo].[INV_INOUT_RPT]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[INV_INOUT_RPT]
AS
SELECT        dbo.INVENTARIOPISO.TIPO, dbo.INVENTARIOPISO.PRODUCTNO, dbo.INVENTARIOPISO.COSTO, dbo.INVENTARIOPISO.DESCRIPCION, dbo.ORDER_HEADER.ORDERDATE, dbo.ORDER_DETAIL.QTYRECEIVED, 
                         dbo.ORDER_DETAIL.QTYORDERED, dbo.INVENTARIOPISO.METRICSIZE, dbo.ORDER_HEADER.ORDERNUMBER, dbo.INVENTARIOPISO.STRENGTH, dbo.INVENTARIOPISO.NDC, dbo.ORDER_HEADER.PO_NO, 
                         dbo.ORDER_DETAIL.PAQUETES_FRASCOS, dbo.INVENTARIOPISO.PACKAGESIZE, dbo.ORDER_HEADER.SUPPLIER
FROM            dbo.ORDER_HEADER INNER JOIN
                         dbo.ORDER_DETAIL ON dbo.ORDER_HEADER.ORDERID = dbo.ORDER_DETAIL.ORDERID INNER JOIN
                         dbo.INVENTARIOPISO ON dbo.ORDER_DETAIL.PRODUCTID = dbo.INVENTARIOPISO.PRODUCTNO
GO
/****** Object:  View [dbo].[INVENTORY_CART]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[INVENTORY_CART]
AS
SELECT        dbo.INVENTORY_IMAGE.PROD_IMAGE, dbo.INVENTARIOPISO.PRECIO, dbo.INVENTARIOPISO.COSTO, dbo.INVENTARIOPISO.PRODUCTNO, dbo.INVENTARIOPISO.DESCRIPCION, dbo.INVENTARIOPISO.NOTE
FROM            dbo.INVENTARIOPISO INNER JOIN
                         dbo.INVENTORY_IMAGE ON dbo.INVENTARIOPISO.PRODUCTNO = dbo.INVENTORY_IMAGE.PRODUCT_ID
GO
/****** Object:  View [dbo].[OPEN_TABS]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OPEN_TABS]
AS
SELECT        dbo.TABS_HEADER.ID, dbo.TABS_HEADER.SERVER, dbo.TABS_HEADER.GROUP_BALANCE, dbo.TABS_DETAIL.CUSTOMER, dbo.TABS_DETAIL.TELEPHONE, dbo.TABS_DETAIL.CREDIT_CARD, dbo.TABS_DETAIL.BALANCE, 
                         dbo.TABS_DETAIL.DATE, dbo.TABS_DETAIL.TRANSACTIONNUMBER, dbo.TABS_HEADER.BUTTON_CAPTION, dbo.TABS_HEADER.CUSTOMER_ID, dbo.TABS_HEADER.DELIVER_BY_ID, dbo.TABS_HEADER.TRANS_TYPE, 
                         dbo.TABS_DETAIL.GROUP_BY_ID, dbo.TABS_HEADER.GROUP_BY_NAME, dbo.TABS_HEADER.ISTABLE
FROM            dbo.TABS_HEADER INNER JOIN
                         dbo.TABS_DETAIL ON dbo.TABS_HEADER.ID = dbo.TABS_DETAIL.TABS_ID
GO
/****** Object:  View [dbo].[PRODUCTSALES]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PRODUCTSALES](PROD_DESC,POD_UPC,T_SOLD,PROD_DPT,PROD_SUP,PROD_FECHAVENTA) 
  AS SELECT ProdDescription, UPC ,SUM(Qty), PRODDEPARTMENT, Suplidor, FechaVenta  
  FROM transactiondetail WHERE ProdDepartment <> 'RECETAS' AND ProdDepartment <> 'OTC' AND ProdDepartment <> 'PAGO' 
  GROUP BY ProdDescription, UPC, ProdDepartment, Suplidor, FechaVenta
GO
/****** Object:  View [dbo].[PSEUDO_SALES_LOG]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PSEUDO_SALES_LOG]
AS
SELECT     dbo.PRODUCT_SIGNATURE.ENCRYPTED_SIGNATURE, dbo.PRODUCT_SIGNATURE.SIGNATURE_DATE, dbo.PRODUCT_SIGNATURE.SIGNATURE_USER, dbo.PRODUCT_SIGNATURE.TRANSACTIONNUMBER, 
                         dbo.PRODUCT_SIGNATURE.PICKEDUP_BY, dbo.PRODUCT_SIGNATURE.PICKEDUP_ID, dbo.TRANSACTIONDETAIL.PRODDESCRIPTION, dbo.TRANSACTIONDETAIL.QTY, dbo.TRANSACTIONDETAIL.UPC, 
                         dbo.TRANSACTIONDETAIL.pseudo, dbo.TRANSACTIONDETAIL.pep_spray, dbo.PRODUCT_SIGNATURE.IMAGE_SIGNATURE, dbo.PRODUCT_SIGNATURE.PICKEDUP_ADDRESS, 
                         dbo.PRODUCT_SIGNATURE.PICKEDUP_ID_TYPE
FROM        dbo.PRODUCT_SIGNATURE INNER JOIN
                  dbo.TRANSACTIONDETAIL ON dbo.PRODUCT_SIGNATURE.TRANSACTIONNUMBER = dbo.TRANSACTIONDETAIL.TRANSACTIONNUMBER
GO
/****** Object:  View [dbo].[PURCHASE_SALES]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PURCHASE_SALES]
AS
SELECT        dbo.INVENTARIOPISO.PRODUCTNO, dbo.ORDER_DETAIL.DESCRIPTION, dbo.ORDER_DETAIL.NDC, dbo.ORDER_DETAIL.QTYRECEIVED, dbo.INVENTARIOPISO.CONTROLADO, dbo.INVENTARIOPISO.INITIAL_QTY, 
                         dbo.ORDER_HEADER.ORDERDATE, dbo.ORDER_DETAIL.LOTE, dbo.ORDER_DETAIL.FECHA_EXPIRACION
FROM            dbo.ORDER_DETAIL INNER JOIN
                         dbo.INVENTARIOPISO ON dbo.ORDER_DETAIL.NDC = dbo.INVENTARIOPISO.NDC INNER JOIN
                         dbo.ORDER_HEADER ON dbo.ORDER_DETAIL.ORDERID = dbo.ORDER_HEADER.ORDERID
GO
/****** Object:  View [dbo].[TOTAL_POS_TRANS]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TOTAL_POS_TRANS]
AS
SELECT        dbo.TRANSACTIONHEADER.TOTAL, dbo.TRANSACTIONHEADER.TRANSACTIONTIME, dbo.TRANSACTIONDETAIL.PRODDEPARTMENT, dbo.TRANSACTIONHEADER.TRANSACTIONDATE
FROM            dbo.TRANSACTIONDETAIL INNER JOIN
                         dbo.TRANSACTIONHEADER ON dbo.TRANSACTIONDETAIL.TRANSACTIONNUMBER = dbo.TRANSACTIONHEADER.TRANSACTIONNUMBER
GO
/****** Object:  View [dbo].[VERTRANSACCIONES]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VERTRANSACCIONES]
AS
SELECT        TH.ID, TH.TRANSACTIONNUMBER, TH.TRANSACTIONDATE, TH.NUMBERITEMS, TH.SUBTOTAL, TH.TAX, TH.TOTAL, TH.CHANGE, TH.PAYMENTTYPE1, TH.CREDITCARD1, TH.OPENED, TH.CUSTOMERID, TH.TRANSACTIONTIME, 
                         TH.PAID, TH.PAYMENTTYPE2, TH.CREDITCARD2, TH.PAYAMOUNT1, TH.PAYAMOUNT2, TH.REGTOTAL, TH.FOODTOTAL, TH.SHIFT, TH.EMPLOYNUMBER, TH.REGISTER, TD.IDNUMBER, TD.UPC, TD.QTY, TD.VOIDED, 
                         TD.SUBDETAIL, TD.PRODDESCRIPTION, TD.PRODDEPARTMENT, TD.FOOD, TD.PRICE, TD.REGPRICE, TD.MODIFIED, TD.DISCOUNT, TD.COSTO, TD.FECHAVENTA, TD.SUPLIDOR, TD.SUPERVISOR, TD.TAX_MUNICIPAL, 
                         TD.TAX_ESTATAL, TD.SUBDEPARTAMENTO, TD.BARCODEALTERNO2, TD.BARCODEALTERNO1, TD.UTILIDAD, TD.NOTE, TH.TIP, TH.SALESMAN, TD.COMMISSION, TD.TAX_PROCESSED_FOOD, TH.TOTAL_TAX, 
                         TD.TOTAL AS DETAIL_TOTAL, TH.LAST4
FROM            dbo.TRANSACTIONHEADER AS TH INNER JOIN
                         dbo.TRANSACTIONDETAIL AS TD ON TD.TRANSACTIONNUMBER = TH.TRANSACTIONNUMBER
GO
/****** Object:  View [dbo].[VIP]    Script Date: 05/12/2026 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIP]
AS
SELECT        dbo.PACIENTES.NUMEROCLIENTE, dbo.PACIENTES.NOMBRE, dbo.PACIENTES.APELLIDOPATERNO, dbo.PACIENTES.APELLIDOMATERNO, dbo.CLIENTTRANSACTIONS.AMOUNT, 
                         dbo.CLIENTTRANSACTIONS.DATEOFTRANS, dbo.CLIENTTRANSACTIONS.CODE, dbo.PACIENTES.DIRECCION1, dbo.PACIENTES.DIRECCION2, dbo.PACIENTES.CIUDAD, dbo.PACIENTES.ESTADO, 
                         dbo.PACIENTES.CODIGOPOSTAL, dbo.PACIENTES.CELULAR
FROM            dbo.PACIENTES INNER JOIN
                         dbo.CLIENTTRANSACTIONS ON dbo.PACIENTES.NUMEROCLIENTE = dbo.CLIENTTRANSACTIONS.CLIENTNO
GO
